<div class="list">
    <p class="tag">洗洗睡</p>
    <h3>洗洗睡标题。。。。</h3>
    <!--只有文字-->
    <div class="content1">
        <p>洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标标题洗洗睡标题</p>
    </div>
    <!--文字，图片-->
    <div class="content2">
        <p>洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标题洗洗睡标标题</p>
        <img src="images/post_1.png" alt="">
    </div>
    <!--三张图片-->
    <div class="content3">
        <ul>
            <li><img src="images/post_3.png" alt=""></li>
            <li><img src="images/post_3.png" alt=""></li>
            <li><img src="images/post_3.png" alt=""></li>
        </ul>
    </div>
    
</div>