<div class="tabbar">

    <ul>
        <li ng-click="tabbarClick('home')">
            <a><img ng-src="images/{{type == 'home'? 'homeSel.png': 'home_icon.png'}}" alt="">首页</a>
        </li>

        <li ng-click="tabbarClick('author')">
            <a><img ng-src="images/{{type == 'author'? 'authorSel.png': 'author_icon.png'}}" alt="">作者</a>
        </li>

        <li ng-click="tabbarClick('content')">
            <a><img ng-src="images/{{type == 'content'? 'contentSel.png': 'content_icon.png'}}" alt="">栏目</a>
        </li>
        <li ng-click="tabbarClick('my')">
            <a><img ng-src="images/{{type == 'my'? 'mySel.png': 'my_icon.png'}}" alt="">我的</a>
        </li>
    </ul>

</div>