.nav{
  z-index: 101;
  width: 100%;
  .h(64);
  .lh(64);
  text-align: center;
  background: lightseagreen;
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  em{
    font-style: normal;
    .fs(34);
    position: absolute;
    .left(10);

  }
}